@page "/products"
@rendermode InteractiveServer

@using Blazor26.Models.Models
@inject IUnitOfWork _unitOfWork

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">Product List</h4>

    </div>
    <div class="col-4 offset-2">
        <a href="products/create" class="btn btn-info form-control"> Add new Products</a>
    </div>

</div>


<div class="col-12 p-3">
    @if (listOfProducts.Any())
    {
        <SfGrid DataSource="@listOfProducts">
            <GridColumns>
                <GridColumn Field=@nameof(Product.ID) HeaderText="Product ID"></GridColumn>
                <GridColumn Field=@nameof(Product.Name) HeaderText="Name"></GridColumn>
                <GridColumn Field=@nameof(Product.Price) HeaderText="Price" Format="C2"></GridColumn>
                <GridColumn Field=@nameof(Product.CategoryID) HeaderText="Category ID"></GridColumn>
                <GridColumn HeaderText="Actions">
                    <Template>
                        <NavLink href="@($"/products/edit/{(context as Product)!.ID}")" class="btn btn-primary btn-sm me-2">
                            Edit
                        </NavLink>
                        <NavLink href="@($"/products/delete/{(context as Product)!.ID}")" class="btn btn-danger btn-sm">
                            Delete
                        </NavLink>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
    else
    {
        if (isLoading)
        {
            <div class="text-center">
                <img src="Images/Loading.gif" alt="loading" />
            </div>
        }
        else
        {
            <p class="text-danger">No Products found</p>
        }
      
    }
</div>

@code{
    private IEnumerable<Product> listOfProducts { get; set; } = new List<Product>();
    private bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadProducts);
       
    }

    private void LoadProducts()
    {
        listOfProducts = _unitOfWork.ProductRepo.GetAll();
        isLoading = false;
    }

}